<div class="app_container row">
    <div class="col-3 btn-list">
        <div class="col-12">
            <button
                class="btn btn-outline-dark"
                id="btn_auth"
                data-bs-toggle="modal"
                data-bs-target="#auth_modal"
            >
                Authentication
            </button>
        </div>
    </div>
    <div class="col-9">
        <h1>APP</h1>
    </div>
</div>

<div id="auth_modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Authentication</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
        </div>
    </div>
</div>
